.admin {
  max-width: 1000px;
}


.table-wrapper {
  overflow-x: auto;
  margin-top: 20px;
}

.admin-table {
  width: 100%;
  border-collapse: collapse;
  font-size: 14px;
  background: white;
}

.admin-table thead {
  background: #2563eb;
  color: white;
}

.admin-table th {
  padding: 12px;
  text-align: left;
}


.admin-table td {
  padding: 10px;
  border-bottom: 1px solid #e5e7eb;
}


.admin-table tbody tr:nth-child(even) {
  background: #f9fafb;
}


.admin-table tbody tr:hover {
  background: #eef2ff;
  transition: 0.2s;
}
